<!DOCTYPE html> 
<html>
<head> 
	<title>Sale</title> 
<link rel="stylesheet"
href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"integrity= "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"crossorigin="anonymous">	 
<link rel="stylesheet" href= "stylesheets/style.css">	 
</head> 
<body> 
	<br> 
	<br> 
	<br> 
	<div class="container " > 
		<div class="row"> 
		<div class="col-md-3"> 
		</div> 
		<div class="col-md-6 box_in"> 
					
			<img src="images/logo.png" class="logo-holder">
			<br><br>
      <h2 align="center" class="text-success">SALE </h2><br>
      <!--adding below items for demo-->
      <h2 align="center" class="text-success">Item 1</h2>
      <h2 align="center" class="text-success">Item 1</h2>
      <h2 align="center" class="text-success">Item 1</h2>
		</div> 
		<div class="col-md-3"> 
		</div> 
	</div> 
	</div> 
</body> 
</html>	 
